<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  	<link rel="stylesheet" type="text/css" href="css/style.css">
  	<link rel="shortcut icon" href="images/favicon.ico">
  	<title>Ejercicio GPI</title>
  	<link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,900' rel='stylesheet' type='text/css'>
</head>

<body ng-app="App">
	
	<div class="container" style="margin-top: 40px;">
		 <div class="row"> 
            <div class="col-md-6">
                <ul class="nav nav-tabs">
			         <li class="active"><a href="#add" data-toggle="tab">Add Persons</a></li>
			         <li><a href="#persons" data-toggle="tab">Persons</a></li>
			         <li><a href="#personsCar" data-toggle="tab">Persons / car</a></li>
		        </ul>
            </div>
            <div class="col-md-6" align="right">
                <img src="images/point2.png">
            </div>
        </div>
    </div>
	<div class="container" ng-controller="MainController">
		<div class="tab-content">
			<div class="tab-pane fade in active" id="add">
            
                <!-- Avatar -->
                <div class="row">
                    <div class="col-md-1" style="margin-top: 7px">
                        <img align="right" src="images/people1.png">
                    </div>
                    <div class="col-md-2">
                        <h3>Add persons</h3>
                    </div>
                </div>
				
                <!-- TAB Add persons -->
                <form ng-submit="registerPerson(person)">
				  <div class="form-group">
				    <label>Name</label>
				    <input type="text" class="form-control" placeholder="Name" ng-model="person.name">
				  </div><br />
				  <div class="form-group">
				    <label>First Name</label>
				    <input type="text" class="form-control" placeholder="First Name" ng-model="person.firstName">
				  </div><br />
				  <div class="form-group">
				    <label>Second Name</label>
				    <input type="text" class="form-control" placeholder="Last Name" ng-model="person.lastName">
				  </div><br />
				  <div class="form-group">
				    <label>Birth date</label>
				    <input type="text" class="form-control" placeholder="Birth date" ng-model="person.birthday">
				  </div>
				  <button type="submit" class="btn btn-primary pull-right">Register</button>
				</form>
			</div>

            <!-- TAB Persons -->
			<div class="tab-pane fade" id="persons">

            <!-- Avatar -->
            <div class="row">
                <div class="col-md-1" style="margin-top: 19px">
                    <img align="right" src="images/data.png">
                </div>
                <div class="col-md-2">
                    <h3>Edit data and registered cars</h3>
                </div>
            </div>
                
				<table class="table table-hover">
					<tr>
						<th>Name</th>
						<th>First Name</th>
						<th>Last Name</th>
                        <th>Birth</th>
                        <th>Edit</th>                     
					</tr>
					<tr ng-repeat="p in persons">
						<td><a href="#" data-toggle="modal" data-target="#dialog-edit-person" ng-click="editPerson(p, $index)">{{p.name}}</a></td>
						<td>{{p.firstName}}</a></td>
						<td>{{p.lastName}}</a></td>
                        <td>{{p.birthday}}</a></td>
					</tr>
				</table>
			</div>

            <!-- Popup box for Persons -->
            <div class="container">
                <div class="modal" id="dialog-edit-person" tabindex="-1" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" data-dismiss="modal">&times;</button>
                                <h3 class="modal-title">Edit person / Add Car to Person</h3>
                            </div>

                            <div class="modal-body">
	                            <form ng-submit="updatePerson(selectedPerson)">
	                                <div class="form-group">
	                                    <h3>Edit Person</h3>
	                                </div>
	                               	<div class="form-group">    
	                                	<label>Name</label>
	                                    <input type="text" class="form-control" placeholder="Name" ng-model="selectedPerson.name">
	                                </div><br />
	                                <div class="form-group">
	                                    <label>First Name</label>
	                                    <input type="text" class="form-control" placeholder="First Name" ng-model="selectedPerson.firstName">
	                                </div><br />
	                                <div class="form-group">
	                                    <label>Second Name</label>
	                                    <input type="text" class="form-control" placeholder="Last Name" ng-model="selectedPerson.lastName">
	                                </div><br />
	                                <div class="form-group">
	                                    <label>Birth date</label>
	                                    <input type="text" class="form-control" placeholder="Birth date" ng-model="selectedPerson.birthday">
	                                </div>

	                                <div class="form-group">
										<div class="pull-right">
											<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-danger">Update</button>
										</div>
									</div>
	                            </form>
	                            
	                            <form ng-submit="addCar(newcar)">
	                                <h3>Register a car</h3>
	                                <div class="form-group">
	                                    <label>Brand</label>
	                                    <input type="text" class="form-control" placeholder="Brand" ng-model="newcar.brand">
	                                </div>
	                                <div class="form-group">
	                                    <label>Model</label>
	                                    <input type="text" class="form-control" placeholder="Model" ng-model="newcar.model">
	                                </div>
	                                <div class="form-group">
	                                    <label>Year</label>
	                                    <input type="text" class="form-control" placeholder="Year" ng-model="newcar.year">
	                                </div>
	                                <div class="form-group">
	                                    <label>Color</label>
	                                    <input type="text" class="form-control" placeholder="Color" ng-model="newcar.color">
	                                </div>
	                                <div class="form-group">
										<div class="pull-right">
											<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-danger">Update</button>
										</div>
									</div>
	                            </form>
	                        </div>
	                    </div>
    	            </div>
        	    </div>
			</div>

            <!-- TAB Persons Cars -->
			<div class="tab-pane fade" id="personsCar">

            <!-- Avatar -->
            <div class="row">
                <div class="col-md-1" style="margin-top: 19px">
                    <img align="right" src="images/car.png">
                </div>
                <div class="col-md-2">
                    <h3>Choose a person to edit your registered cars</h3>
                </div>
            </div>
            	<table class="table table-hover">
					<tr>
						<th>Name</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Registered cars</th>
					</tr>
					<tr ng-repeat="p in persons">
						<td><a href="#edit" data-toggle="tab">{{p.name}}</a></td>
						<td>{{p.firstName}}</td>
						<td>{{p.lastName}}</td>
						<td>{{p.cars.length}}</td>
					</tr>
				</table>
			</div>

      		<!-- Edit Persons and register Car 2-->
		    <div class="tab-pane fade" id="edit"><br />
				
			<!-- Avatar -->
            <div class="row">
                <div class="col-md-1" style="margin-top: 19px">
                    <img align="right" src="images/girl.png">
                </div>
                <div class="col-md-2">
                    <h3>Houston Have Trouble</h3>
					<h4>Registered cars</h4>
                </div>
            </div>
			<table class="table table-hover">
					<tr>
						<th>Brand</th>
						<th>Model</th>
						<th>Año</th>
						<th>Color</th>
						<th>Delete</th>
					</tr>
					<tr>
						<td>Volkswagen</td>
						<td>Sedan</td>
						<td>1958</td>
						<td>White</td>
						<td><input type="checkbox"></td>
					</tr>
					<tr>
						<td>Volkswagen</td>
						<td>Combi</td>
						<td>1945</td>
						<td>Pink</td>
						<td><input type="checkbox"></td>
					</tr>
					<tr>
						<td>Nissan</td>
						<td>Sentra</td>
						<td>2010</td>
						<td>Grey</td>
						<td><input type="checkbox"></td>
					</tr>

				</table>
				
				<button class="btn btn-danger pull-right">Save </button>
				<button class="btn btn-primary pull-right" data-toggle="modal" data-target="#modal-1">Add new car</button>
				<button class="btn btn-primary pull-right" id="personsCar">Back </button>
				
		
            <!-- Popup box for register car -->
			<div class="container">
				<div class="modal" id="modal-1" tabindex="-1" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button class="close" data-dismiss="modal">&times;</button>
								<h3 class="modal-title">Add new car</h3>
							</div>

							<form>
							  <div class="form-group">
							    <label>Brand</label>
							    <input type="text" class="form-control" placeholder="Brand">
							  </div>
							  <div class="form-group">
							    <label for="InputModel">Model</label>
							    <input type="text" class="form-control" placeholder="Model">
							  </div>
							  <div class="form-group">
							    <label for="InputYear">Year</label>
							    <input type="text" class="form-control" placeholder="Year">
							  </div>
							  <div class="form-group">
							    <label for="InputColor">Color</label>
							    <input type="text" class="form-control" placeholder="Color">
							  </div>
							</form>
							<div class="modal-footer">
								<a href="" class="btn btn-primary" data-dismiss="modal">Close</a>
								<a href="" class="btn btn-danger" data-dismiss="modal">Save</a>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
    </div>
</div>


<footer>
	<div class="container">
		<div class="row">
			<p class="boxFooter-tittle">Alejandro Glz</p>	
			<p class="boxFooter-text">[21-abril-2017]</p>
        </div>
	</div>
</footer>

<script src="node_modules/angular/angular.js"></script>
<script src="controller.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
